.btn1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.lab1 {
  -webkit-text-fill-color: lime;
  margin-right: 10px;
}

.lab2 {
  -webkit-text-fill-color: red;
  margin-right: 10px;
}

.div1 {
  padding-top: 5px;
}

.btn2 {
  margin-right: 10px
}